.InputForm{
    display: flex;
    gap: 10px;
    margin-top: -20px;
}

.InputForm input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 100px 10px 10px;
}

.InputForm button{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(85, 80, 80);
    color: aliceblue;
    padding: 5px 20px;
    
}