
.todoList{
    background-color: antiquewhite;
    margin-top: 30px;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.todoList h2{
    font-size: 40px;
    display: flex;
    gap: 100px;
}