
.todo-item{
    /* background-color: aquamarine; */
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-bottom: 5px;
}

.todo-item input{
    border: 2px solid gray;
    border-radius: 50%;
}

.todo-item button{
    border-radius: 10px;
    padding: 5px 10px;
}